version: '3.7'

services:
  portal-compras-php:
    image: "${DOCKER_IMAGE_TAG}"
    labels:
      - "br.com.cesan.app=${CI_PROJECT_NAME}"
      - "io.portainer.accesscontrol.teams=adm"

    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
    volumes:
      - /nfs/swarm/portal-compras-php/anexos:/var/www/html/anexos
      - /nfs/swarm/portal-compras-php/uploads:/var/www/html/uploads
      - /etc/localtime:/etc/localtime:ro
      - ../html:/var/www/html

    ports:
      - 9453:80
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4192M
  filebrowser:
    image: registry.cesan.com.br/cesan/filebrowser
    environment:
      - FILE_BROWSER_ADMIN_PASSWORD=${FILE_BROWSER_ADMIN_PASSWORD}
      - FILE_BROWSER_BRANDING_NAME=${FILE_BROWSER_BRANDING_NAME}
      - FILE_BROWSER_USER_COMMANDS=${FILE_BROWSER_USER_COMMANDS}
      - FILE_BROWSER_USER_NAME=${FILE_BROWSER_USER_NAME}
      - FILE_BROWSER_USER_PASSWORD=${FILE_BROWSER_USER_PASSWORD}
    volumes:
      - /nfs/swarm/portal-compras-php:/srv
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 9663:80
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2048M
